<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.label.core.mapper.TeamMapper">
    <insert id="saveOrUpDateTeam">
        insert into
        tb_team
        (team_name,creator,team_key,create_time,manager_key,manager_name,team_message)
        values
        (#{req.teamName},#{req.creator},#{key},#{createTime},#{managerKey},#{managerName},#{req.teamMessage})
    </insert>
    <update id="updateTeam">
        update
        tb_team
        set
        team_name = #{req.teamName},
        manager_key = #{managerKey},
        manager_name = #{managerName},
        team_message = #{req.teamMessage}
        where
        team_key = #{req.teamKey}
    </update>
    <update id="allocationLabeler">
        update
        tb_label_data
        set
            belong_user_key = #{userKey},
            allocation = "1",
            belong_user_name = #{userName}
        where allocation = "0"
            LIMIT #{count}
    </update>
    <update id="allocationChecker">
        update
        tb_label_data
        set
            belong_checker_key = #{userKey},
            allocation_check = "1",
            belong_checker_name = #{userName}
        where allocation_check = "0"
        LIMIT #{count}
    </update>


    <select id="getAllTeam" resultType="com.label.core.pojo.vo.team.TeamItem">
        select *
        from
        tb_team
    </select>
    <select id="checkNameRepeat" resultType="java.lang.Long">
        select count(*)
        from
        tb_team
        where
        team_name = #{teamName}



    </select>
    <select id="getManagerByTeamKey" resultType="com.label.core.pojo.vo.admin.ManagerItem">
        select
        name,user_key
        from
        tb_user
        where
        FIND_IN_SET(#{teamKey},manage_team_key) > 0;
    </select>
    <select id="getTeamByKey" resultType="com.label.core.pojo.vo.team.TeamItem">
        select * from
        tb_team
        where 1=1
        and
        (#{teamKey} IS NULL OR team_key = #{teamKey} )
    </select>
    <select id="getTeamNameByKey" resultType="java.lang.String">
        select
        team_name
        from
        tb_team
        where
        team_key = #{teamKey}
    </select>
</mapper>
